:root {
  --ratio: 1.112;
  --redPrimary: #ed1d24;
  --redDark: #cc050c;
  --redLight: #ff4a50;
  --redSecondary: #ffd9dc;

  --greenPrimary: #0db14b;
  --greenDark: #01a23e;
  --greenSecondary: #dffae0;
  --purpleSecondary: #eae1ff;
  --border-color:#e2e2e2;
  --white: #fff;
  --black: #121212;
  --space2_4: 1.333rem;
  --space2_5: 1.555rem;
  --space2_6: 1.666rem;
  --space2_7: 1.777rem;
  --space1_6: 0.8889rem;
  --fallback-image-bg: #f1f1f1;
  --section-Subtitle: #9e9e9e;
  --fs-14_5: calc(1rem/var(--ratio)/var(--ratio));
  --fs-14_6: calc(1.2rem/var(--ratio)/var(--ratio));
  --fs-42: calc(1rem*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));

  --fs-13: calc(1rem/var(--ratio)/var(--ratio)/var(--ratio));

}