.details_header{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    .icon{
        height: 100px;
        padding: 1%;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .details_header{
        .icon{
            height: 50px;
            padding: 2%;
        }
    }
}

@media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
    .details_header{
        .icon{
            height: 50px;
            padding: 2%;
        }
    }
  }