.subtitle {
  color: var(--section-Subtitle);
  font-size: var(--fs-14_5);
}

.title {
  font-size: var(--fs-42);
  padding-bottom: var(--space1_6);
}

.tab {
  display: flex;
  flex-direction: column;
  position: relative;
  word-break: break-all;

  .bloc-tabs {
    display: flex;
    border-bottom: var(--space0_2) solid var(--border-color);
  }

  .tabs {
    background: white;
    padding: 15px;
    text-align: center;

    cursor: pointer;

    box-sizing: content-box;
    position: relative;
    outline: none;

    .tabTitle {
      color: var(--section-Subtitle);
      font-size: var(--fs-14_5);
    }
  }

  //   .tabs:not(:last-child){
  //     border-right: 1px solid rgba(0, 0, 0, 0.274);
  //   }

  .active-tabs {
    background: var(--border-color);

    .tabTitle {
      color: var(--black);
      font-weight: bold;
    }
  }

  .active-tabs::before {
    content: "";

    display: block;
    position: absolute;
    right: 0px;
    top: 100%;
    // transform: translateY(-50%);
    width: calc(100%);
    height: 5px;
    background: var(--guardsman-red);
  }

  button {
    border: none;
    background: #f1f1f1;
  }

  .content-tabs {
    flex-grow: 1;

    .tab-Item {
      padding: var(--space0_9) 0;
      font-size: var(--fs-49);
      font-weight: 400;
      border-bottom: 1px solid var(--border-color);
      .order {
        color: var(--section-Subtitle);
        font-size: var(--fs-48);
        font-weight: bold;
      }
      .headline {
        padding: var(--space0_8) 0;
      }
    }
  }

  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }

  .content h2 {
    padding: 0px 0 5px 0px;
  }

  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }

  .content p {
    width: 100%;
    height: 100%;
  }

  .active-content {
    display: block;
  }
}
